In [2]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

In [3]:
# Import the API Keys
from config import g_key

In [4]:
# Store the cities.csv into a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Shingu,33.7333,135.9833,41.65,62,22,18.43,JP,2021-02-17 04:37:12,few clouds
1,1,Saint George,37.1041,-113.5841,42.58,62,19,5.08,US,2021-02-17 04:37:12,few clouds
2,2,Bambous Virieux,-20.3428,57.7575,82.78,76,60,4.79,MU,2021-02-17 04:37:12,broken clouds
3,3,Mataura,-46.1927,168.8643,63.00,55,0,5.01,NZ,2021-02-17 04:37:13,clear sky
4,4,Mamallapuram,12.6264,80.1722,80.60,61,20,2.30,IN,2021-02-17 04:37:13,haze
...,...,...,...,...,...,...,...,...,...,...,...
570,570,Moose Factory,51.2585,-80.6094,-16.60,76,90,2.30,CA,2021-02-17 04:39:04,overcast clouds
571,571,Inongo,-1.9500,18.2667,73.13,87,91,3.53,CD,2021-02-17 04:39:04,overcast clouds
572,572,Wasilla,61.5814,-149.4394,28.00,93,90,5.01,US,2021-02-17 04:39:04,overcast clouds
573,573,Mokhsogollokh,61.4681,128.9203,-16.19,85,41,1.83,RU,2021-02-17 04:39:04,scattered clouds
574,574,Salinas,36.6777,-121.6555,55.40,76,1,11.50,US,2021-02-17 04:39:05,clear sky

In [5]:
# Find out the data type
city_data_df.dtypes

City_ID                  int64
City                    object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Country                 object
Date                    object
Current Description     object
dtype: object

In [6]:
# Configure gmaps to use my Google API key
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
    
# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [9]:
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Created a percent humidity heatmap
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Created a wind speed map
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300,point_radius=4)

fig.add_layer(heat_layer)
# Call the fig
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 75

In [13]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
3,3,Mataura,-46.1927,168.8643,63.00,55,0,5.01,NZ,2021-02-17 04:37:13,clear sky
11,11,Mungwi,-10.1732,31.3694,64.08,94,100,4.45,ZM,2021-02-17 04:37:14,overcast clouds
18,18,Luderitz,-26.6481,15.1594,63.18,71,0,6.06,NaN,2021-02-17 04:37:16,clear sky
27,27,Port Alfred,-33.5906,26.8910,65.25,72,3,18.25,ZA,2021-02-17 04:37:18,clear sky
30,30,Los Llanos De Aridane,28.6585,-17.9182,64.40,48,0,11.50,ES,2021-02-17 04:37:18,clear sky
32,32,Ndele,8.4109,20.6473,67.01,24,86,6.08,CF,2021-02-17 04:37:18,overcast clouds
33,33,Cape Town,-33.9258,18.4232,63.00,88,0,2.30,ZA,2021-02-17 04:35:04,clear sky
35,35,Murgab,37.4966,61.9714,63.36,26,0,6.64,TM,2021-02-17 04:37:19,clear sky
41,41,Iranshahr,27.2025,60.6848,60.80,21,0,9.22,IR,2021-02-17 04:37:20,clear sky
47,47,Riyadh,24.6877,46.7219,69.01,23,0,18.41,SA,2021-02-17 04:37:21,clear sky

In [14]:
# Create a dataframe called hotel_df and store the hotel names along with city, country, max temp and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                     City Country  Max Temp      Lat       Lng Hotel Name
3                 Mataura      NZ     63.00 -46.1927  168.8643
11                 Mungwi      ZM     64.08 -10.1732   31.3694
18               Luderitz     NaN     63.18 -26.6481   15.1594
27            Port Alfred      ZA     65.25 -33.5906   26.8910
30  Los Llanos De Aridane      ES     64.40  28.6585  -17.9182
32                  Ndele      CF     67.01   8.4109   20.6473
33              Cape Town      ZA     63.00 -33.9258   18.4232
35                 Murgab      TM     63.36  37.4966   61.9714
41              Iranshahr      IR     60.80  27.2025   60.6848
47                 Riyadh      SA     69.01  24.6877   46.7219

In [15]:
# Getting each hotel - follow steps like getting weather

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
     # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [21]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))