In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

In [2]:
# Import the API Keys
from config import g_key

In [3]:
# Store the cities.csv into a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Barrow,71.2906,-156.7887,-9.40,70,90,8.05,US,2021-02-12 22:54:20,overcast clouds
1,1,Griffith,41.5284,-87.4237,18.00,67,40,11.50,US,2021-02-12 22:54:20,light snow
2,2,Littleton,39.6133,-105.0166,12.20,57,75,13.80,US,2021-02-12 22:54:11,haze
3,3,Provideniya,64.3833,-173.3000,-1.12,88,99,31.52,RU,2021-02-12 22:54:21,light snow
4,4,Busselton,-33.6500,115.3333,60.01,87,1,1.01,AU,2021-02-12 22:54:21,clear sky
...,...,...,...,...,...,...,...,...,...,...,...
550,550,Tsaratanana,-16.7833,47.6500,73.42,83,99,2.75,MG,2021-02-12 22:55:38,light rain
551,551,Capinopolis,-18.6819,-49.5697,69.53,92,100,6.73,BR,2021-02-12 22:55:38,overcast clouds
552,552,Ukiah,39.1502,-123.2078,55.40,67,90,12.66,US,2021-02-12 22:51:11,overcast clouds
553,553,New Braunfels,29.7030,-98.1245,34.00,87,95,4.00,US,2021-02-12 22:55:39,overcast clouds
554,554,Meulaboh,4.1363,96.1285,76.82,86,92,3.49,ID,2021-02-12 22:55:39,overcast clouds

In [4]:
# Find out the data type
city_data_df.dtypes

City_ID                  int64
City                    object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Country                 object
Date                    object
Current Description     object
dtype: object

In [5]:
# Configure gmaps to use my Google API key
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
    
# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [8]:
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Created a percent humidity heatmap
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Created a wind speed map
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300,point_radius=4)

fig.add_layer(heat_layer)
# Call the fig
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
15,15,Butaritari,3.0707,172.7902,81.19,83,35,11.88,KI,2021-02-12 22:51:26,scattered clouds
16,16,Rikitea,-23.1203,-134.9692,80.46,70,35,8.86,PF,2021-02-12 22:49:46,scattered clouds
19,19,Vaini,-21.2000,-175.2000,84.20,79,75,10.36,TO,2021-02-12 22:54:23,broken clouds
40,40,Pitmoaga,12.2397,-1.8767,80.60,19,0,3.44,BF,2021-02-12 22:54:26,clear sky
41,41,Sola,-13.8833,167.5500,80.96,80,93,11.79,VU,2021-02-12 22:54:26,overcast clouds
45,45,Puerto Ayora,-0.7393,-90.3518,82.40,78,75,2.30,EC,2021-02-12 22:54:26,broken clouds
57,57,Hilo,19.7297,-155.0900,82.40,47,1,3.44,US,2021-02-12 22:54:28,clear sky
64,64,Port-Gentil,-0.7193,8.7815,84.20,84,40,10.36,GA,2021-02-12 22:54:29,moderate rain
82,82,Hithadhoo,-0.6000,73.0833,81.97,75,100,12.21,MV,2021-02-12 22:54:32,overcast clouds
84,84,Avarua,-21.2078,-159.7750,84.20,74,75,3.44,CK,2021-02-12 22:54:32,moderate rain

In [13]:
# Create a dataframe called hotel_df and store the hotel names along with city, country, max temp and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
15    Butaritari      KI     81.19   3.0707  172.7902
16       Rikitea      PF     80.46 -23.1203 -134.9692
19         Vaini      TO     84.20 -21.2000 -175.2000
40      Pitmoaga      BF     80.60  12.2397   -1.8767
41          Sola      VU     80.96 -13.8833  167.5500
45  Puerto Ayora      EC     82.40  -0.7393  -90.3518
57          Hilo      US     82.40  19.7297 -155.0900
64   Port-Gentil      GA     84.20  -0.7193    8.7815
82     Hithadhoo      MV     81.97  -0.6000   73.0833
84        Avarua      CK     84.20 -21.2078 -159.7750

In [14]:
# Getting each hotel - follow steps like getting weather

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
     # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [26]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))